/*
 * -------------------------------------------------
 *  pgscalculator Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Set todays date, used to create dated files/folders
today = new Date().format("yyyy-MM-dd-HHmm")

if(params.dev){
  cleanup = false
}else{
  cleanup = true
}

workDir = "/pgscalculator/work"
tmpDir = "/tmp"


// Global default params, used in configs
params {
  
  // dev options
  dev = false

  // snplist default is false
  snplist = false

  // pipeline root
  libdir = '/pgscalculator'

  // input
  method="sbayesr"
  gbuild="37"

  // Preprocessing options
  whichN="totalN"  // the other option is effectiveN

  // Output 
  // set to =false if you want to suppress the output (not for intermediates)
  // intermediates won't be created unless the --dev flag is activated
  intermediates="${params.outdir}/intermediates"
  details="${params.outdir}/details"
  tracedir="${params.outdir}/pipeline_info"
  

  // Activate or deactivate features
  concat_genotypes=false
  remap_rsids=false

  // Reference folders
  mapfile = "${params.libdir}/assets/sumstats_column_names_map.tsv"
  rsid_ref_37 = "${params.libdir}/references/cleansumstat_rsid_map/sbayesr_band_ukb_10k_hm3/b37"
  rsid_ref_38 = "${params.libdir}/references/cleansumstat_rsid_map/sbayesr_band_ukb_10k_hm3/b38"

  // sbayesr specific
  calc_posteriors_sbayesr = [
      score_columns: "2 5 8",
      options: [
          // Parameters with values
          gamma: "0.0,0.01,0.1,1",
          pi: "0.95,0.02,0.02,0.01",
          burn_in: "2000",
          chain_length: "10000",
          out_freq: "10",
          p_value: "0.99",
          rsq: "0.95",
          thread: "6",
          seed: "80851",
          thin: "10"
      ],
      flags: [
          // Boolean flags
          unscale_genotype: true,
          exclude_mhc: true,
          no_mcmc_bin: false,
          impute_n: false
      ]
  ]


  // prscs specific
  calc_posteriors_prscs {
    score_columns="2 4 6"
  }
}

// Load base.config by default for all pipelines (now we force to specify this file)
//includeConfig 'conf/sbayesr.config'

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

manifest {
  name = 'pgscalculator'
  author = 'Jesper R. Gådin'
  homePage = 'https://github.com/BioPsyk/pgscalculator'
  description = 'calcualting pgs using different standard tools for pgs'
  mainScript = 'main.nf'
}
