/*
 * -------------------------------------------------
 *  pgscalculator config file
 * -------------------------------------------------
*/

// Example config for a prscs run
params {

  // the other option is "totalN"
  whichN="effectiveN"

  // pgs method
  method="prscs"

  // genotype build
  gbuild="37"

  // sbayesr specific
  calc_posteriors_prscs = [ 
      score_columns: "2 5 8",
      options: [ 
          // Parameters with values
          gamma: "0.0,0.01,0.1,1",
          pi: "0.95,0.02,0.02,0.01",
      ],
      flags: [ 
          // Boolean flags
          unscale_genotype: true,
          exclude_mhc: true,
      ] 
  ]

}

