/*
 * -------------------------------------------------
 *  pgscalculator config file
 * -------------------------------------------------
*/

// Example config for a prscs run
params {

  // the other option is "totalN"
  whichN="effectiveN"

  // pgs method
  method="prscs"

  // genotype build
  gbuild="37"

  // sbayesr specific
  calc_posteriors_prscs = [ 
      score_columns: "2 4 6",
      options: [ 
          // Parameters with values
          a: "1",
          b: "0.5",
          n_iter: "1000",
          n_burnin: "500",
          thin: "5",
          seed: "12345",
          beta_std: "False",
          write_psi: "False",
      ]
  ]

}


