/*
 * -------------------------------------------------
 *  pgscalculator config file
 * -------------------------------------------------
*/

// Example config for a sbayesr run
params {

  // pgs method
  method="sbayesr"

  // genotype build
  gbuild="37"

  // sbayesr specific
  calc_posteriors_sbayesr = [ 
      score_columns: "2 5 8",
      options: [ 
          // Parameters with values
          gamma: "0.0,0.01,0.1,1",
          pi: "0.95,0.02,0.02,0.01",
          burn_in: "2000",
          chain_length: "10000",
          out_freq: "10",
          p_value: "0.99",
          rsq: "0.95",
          thread: "6",
          seed: "80851",
          thin: "10"
      ],
      flags: [ 
          // Boolean flags
          unscale_genotype: true,
          exclude_mhc: true,
          no_mcmc_bin: false,
          impute_n: false
      ] 
  ]

}

